name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: get code
      uses: actions/checkout@v3
    - name: install dependecies
      run: npm ci
    - name: Build project
      run: npm run build
    - name: upload artifact
      uses: actions/upload-artifact@v3
      with:
        path: build
        name: build-files
